.inputFilm{ 
  background-color: black;
  width: 300px;
  color: white;
  border-color: lightgrey;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  color: white;
}

.inputFilm:hover{
  color: white;
}

.inputFilm:focus{
  background-color: black;
  color: white;
}

.inputFilm::placeholder{
  color:white;
}

.inputContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.searchButton{
  border-radius: 25px;
  border-color: white;
}

