.navbarPage{
  background-color: rgb(10,10,10);
  color: white;
  border-bottom: solid;
  border-width: 2px;
  border-bottom-color: #a78BFa;
  font-family: "DM Sans", "DM Sans Placeholder", sans-serif;
}

.iconPopCornNavbar{
  color: #a78BFa;
  margin-right: 3px;
}