#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.modalDataFilm{
  color: blue;
  background-color: black;
}

.cardImg{
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
}